@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif;
}


.lineThrough {
  position: relative;  
}

.lineThrough:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  background: black;
  content: "";
  width: 100%;
  display: block;
}